# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
.venv/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Log files
*.log

# Environment variables
.env
*.env

# MacOS system files
.DS_Store

# Python packaging
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Pytest & Coverage reports
.coverage
htmlcov/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
